@model DVMS.Models.Admin
@{
    ViewData["Title"] = "Invite Guest";
}
@if (TempData["DbVarification"] == null && TempData["NetVarification"] == null && TempData["trailVerion"] == null)

{
    <div class="page" ng-controller="GuestContrller">
    <partial name="PartialViewHeader" />

    <div class="section-body">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs page-header-tab">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Invite-add">Invite Guest</a></li>
                        @if (Context.Session.GetInt32("InviteGuest_can_create") == 1)
                    {
                        <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#Guest-add">Add Guest</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="section-body mt-3">
        <div class="container-fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="Invite-add" role="tabpanel">
                        <div class="row clearfix">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Invite Guest</h3>
                                    </div>
                                    <form class="card-body">
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">Select Guest<span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(model => model.GuestId, ViewBag.GuestListVB as SelectList, "-- select --", new { @class = "form-control fieldwidth", id = "Guest_Id", @tabindex = 1 })
                                            @* <div class="col-md-7">
                                        <select class="form-control show-tick">
                                        <option>Select</option>
                                        <option>High</option>
                                        <option>Medium</option>
                                        </select>
                                        </div> *@
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">Purpose of visit<span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(model => model.VisitPurpose, new { @class = "form-control", @placeholder = "For meeting", id = "VisitPurposeID", @autocomplete = "on" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">Visite date & time<span class="text-danger">*</span></label>
                                            <div class="col-md-3">
                                                <input type="date" id="inviteDate" class="form-control">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="time" id="inviteTime" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"></label>
                                            <div class="col-md-7">
                                                <button type="submit" ng-click="SetGusetInvitationFunction()" class="btn btn-primary">Send</button>
                                                @* <button type="submit" class="btn btn-outline-secondary">Cancel</button> *@
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th colspan="5">Invitaition List</th>
                                                </tr>
                                                <tr>
                                                    <th class="w30">&nbsp;</th>
                                                    <th>S.no</th>
                                                    <th>Invitation ID</th>
                                                    <th>Full Name</th>
                                                    <th>Visit Purpose</th>
                                                    <th>Status</th>
                                                    <th>Visit Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="c in GetInvitationList">
                                                    <td>
                                                        <label class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1">
                                                            <span class="custom-control-label">&nbsp;</span>
                                                        </label>
                                                    </td>
                                                    <td><span>{{index+1}}</span></td>
                                                    <td><span>{{c.invitation_ID}}</span></td>
                                                    <td><span>{{c.guestFullName}}</span></td>
                                                    <td><span>{{c.visitPurpose}}</span></td>
                                                    <td><span>{{c.status}}</span></td>
                                                    <td><span>{{c.visitDate}} | {{c.visitTime}}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="tab-pane fade" id="Guest-add" role="tabpanel">
                   
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Add Guest</h3>
                                </div>
                                <form class="card-body">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Full Name <span class="text-danger">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(model => model.GuestFullName, new { @class = "form-control", @placeholder = "Full Name", id = "GuestFullName", @autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Email<span class="text-danger">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(model => model.GuestEmail, new { @class = "form-control", @placeholder = "Email ", id = "GuestEmail", @autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Phone<span class="text-danger">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(model => model.GuestPhone, new { @class = "form-control", @placeholder = "Phone ", id = "GuestPhone", @autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">CNIC<span class="text-danger">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(model => model.GuestCNIC, new { @class = "form-control", @placeholder = "**************", id = "GuestCNIC", @autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label"></label>
                                        <div class="col-md-7">
                                            <button type="button" ng-click="SetGusetFunction()" class="btn btn-primary">Save</button>
                                            @* <button type="submit" class="btn btn-outline-secondary">Cancel</button> *@
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="col-12">
                            <div class="card">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                        <thead>
                                            <tr>
                                                <th colspan="5">Guest Detail</th>
                                                <th colspan="3">Activity</th>
                                            </tr>
                                            <tr>
                                                <th class="w30">&nbsp;</th>
                                                <th>S.no</th>
                                                <th>Full Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>CNIC</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="c in GetGuestList">
                                                <td>
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1">
                                                        <span class="custom-control-label">&nbsp;</span>
                                                    </label>
                                                </td>
                                                <td><span>{{index+1}}</span></td>
                                                <td><span>{{c.guestFullName}}</span></td>
                                                <td><span>{{c.guestEmail}}</span></td>
                                                <td><span>{{c.guestPhone}}</span></td>
                                                <td><span>{{c.guestCNIC}}</span></td>
                                                <td><span>{{c.date}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-body">
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
}
else
{
@Html.Partial("~/Views/Shared/PartialViewModalsValidation.cshtml")
}
<script src="~/assets/bundles/lib.vendor.bundle.js"></script>
<script src="~/lib/angularjs/angular.min.js"></script>
<script src="~/lib/angularjs/signalr.js"></script>
<script src="~/contollerscript/GuestContrller.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/lib/angularjs/signalRService.js"></script>
